<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>YAAS | Home</title>
</head>


<body>

<div class="base">

    <div class="header">

        <a href="/" class="title">Welcome to Yet Another Auction Site!</a>

        {% if user.is_authenticated %}
            <div>
            <form action="/signout/" method="post" class="signout">
            {% csrf_token %}
                <input id="singout"class="signout_button" type="submit" value="Logout">
            </form>

            <form action="/edit_profile/" method="get" class="editprofile">
            {% csrf_token %}
                <input id="edit"class="editprofile_button" type="submit" value="Edit Profile">
            </form>
            </div>
            <p class="userinfo"> Welcome, {{ user.username }}</p>

        {% endif %}

        {% if not user.is_authenticated %}
         <form action="/register/" method="get" class="register">
            <label for="register" class="label">New user:</label>
            <input id="register" type="submit"class="register_button" value="Register">
         </form>

        <form action="/login/" method="post" class="login">
            {% csrf_token %}
            <label for="username" class="label">Username: </label>
            <input id="username" type="text" name="username">
            <label for="password" class="label">Password: </label>
            <input id="password" type="password" name="password">
            <input type="submit"class="signin_button" value="Login">
        </form>
        {% endif %}

    </div>
    <div class="content">

         {% if messages %}
              {% for message in messages %}
                    <h4 style="color:orangered; float:right;">{{ message }}</h4>
              {% endfor %}
        {% endif %}
        <div class="new_and_search">
        {% if user.is_authenticated %}
        <form action="/create_auction/" method="get" class="create_auction">
            <input type="submit" class="register_button" value="Create new auction">
        </form>
        {% endif %}
        <form action="{% url 'index' %}" method="get" class="search_box">
            <input type="text" class="search_field" name="search" value="{{ request.GET.search }}">
            <input type="submit" class="search_button" value="Search">
        </form>
        </div>

        {% block edit_profile %}{% endblock %}
        {% block auctions %}{% endblock %}
        {% block change_password %}{% endblock %}
        {% block confirm %}{% endblock %}
        {% block create_auction %} {% endblock %}


    </div>
</div>

</body>
</html>